body { 
font-family: 'Roboto', sans-serif;
font-size: 14px;
letter-spacing: 0.03em;
color: #757575;
background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
:root {
    --title-text-color: #212121;
    --title-text-color-dark-bkg: #FFFFFF;
    --title-text-color-accent: #2196F3;
    --text-color: #757575;
    --text-color-dark-bkg: rgba(255, 255, 255, 0.6);
    --dark-background: #2F303A;
    --light-dark-background: #F5F4FA;
    --white-color: #ffffff;
    --black-color: #000000;
    --button-hover: #188CE8;
}

h2 {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
color: var(--title-text-color);
}

.link {
text-decoration: none;
}

.list {
list-style: none;
}

/* COMPONENTS */
.logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--black-color);
}

.logo-accent {
color: var(--title-text-color-accent);
}

/* HEADER */

.menu-link {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color);
}
.contact-link {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);
}

.menu-link:hover,
.menu-link:focus
{
color: var(--title-text-color-accent);
}

.contact-link:hover,
.contact-link:focus
{
color: var(--title-text-color-accent);
}

.current {
color: var(--title-text-color-accent);
}

/* HERO */
.hero {
background-color: var(--dark-background);
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-color);
}

.hero-btn {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--title-text-color-dark-bkg);
background-color: var(--title-text-color-accent);
cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--button-hover);
}

/* features */

.features-subtitle {
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
color: var(--title-text-color);
}

.features-descriptions {
line-height: 1.71;
color: var(--text-color);
}

/* ACTIVITIES */

/* TEAM */
.team {
    background-color: var(--light-dark-background);
}

.team-item {
    background-color: var(--white-color);
}

.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
color: var(--title-text-color);
}

.team-prof {
font-size: 16px;
line-height: 1.19;
color: var(--text-color);
}

/* FOOTER */
.footer>.logo {
    color: var(--white-color);
}

.footer {
background-color: #2F303A;
}

.adress {
font-style: normal;
line-height: 1.71;
color: var(--white-color);    
}

.adress:hover,  
.adress:focus {
    color: var(--title-text-color-accent);
}

.contact-footer {
font-style: normal;
line-height: 1.71;
color: var(--text-color-dark-bkg);
}

.contact-footer:hover,
.contact-footer:focus {
    color: var(--title-text-color-accent);
}

/* PORTFOLIO-FILTER */

.filter-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--title-text-color);
background-color: var(--light-dark-background);
cursor: pointer;
}

.filter-btn:hover, 
.filter-btn:focus
{
color: var(--white-color);
background-color: var(--title-text-color-accent);
}

/* PORTFOLIO-CARDS */

.cards-title {
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: var(--title-text-color);
}

.cards-sign {
font-size: 16px;
line-height: 1.88;
color: var(--text-color);
}